body {

    font-size: 18px;
    line-height: 1.5;
    background-color: #FFF5EE;
    font-family: 'Handlee', cursive;
}

body,
header,
nav,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: #004953;
    color: white;
    text-align: center;
    padding: .5rem;
}

header img {
    float: right;
    margin: 10px;
    width: 170px;
    height: auto;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-family: 'Architects Daughter', cursive;
    padding-left: 10px;
}

footer a {
    color: white;
}