@media only screen and (min-width: 32.5em) {
    header img {
        height: 150px;
        width: auto;
    }

    .title {
        font-size: 1.5em;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul {
        margin-left: none;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;

        padding: .6rem 1rem;
    }

    main{
        max-width: 900px;
    }

    .container {
        max-width: 900px;  
    }
  
}