@media only screen and (min-width: 32.5em) {
    header img {
        height: 150px;
        width: auto;
    }

    .title {
        font-size: 1.5em;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul {
        margin-left: 0;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;

        padding: .6rem 1rem;
    }

    main{
        max-width: 900px;
        padding: 5rem 10rem 5rem 10rem;
    }

    .container {
        max-width: 900px;  
    }

    .cards section {
        display:flex;
        flex-direction: row;
    }
    
    
    .cards section:nth-child(even){
        flex-direction: row-reverse;
    }
    .idmap {
        width: 75%;
    }
}