@media only screen and (min-width: 32.5em){
    header img {
        max-width: 500px;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;

    }

    nav ul li a {
        border: none;
        border-right: 1px solid rbga(0, 0, 0, 0.3);
        padding: .6rem 1rem;
    }

    nav ul li a {
        padding: .6rem 1rem;
    }
}