@media only screen and (min-width: 72em) {
    header {
        padding: 20px;
    }

    .title {
        font-size: 2.5rem;
    }

    header img {
        height: 200px;
        width: auto;
    }

    /*--------------------------- Index CSS ---------------------------------*/
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-self: center;
    }

    .cards img{
        float: none;
    }
    /*-----------------------------------------------------------------------*/

    /*----------------- Preston, Fish Haven, Soda Springs CSS ---------------*/
    .heroImg {
        width: 100%;
        margin-left: 2%;
    }

    .weatherContain {
     left: 50px;
    }

    .forecast{
        margin-left: 2%;
    }
    .articleImg {
        margin-top: 2%;
    }
    /*------------------------------------------------------------------------*/

    /*------------------------- Gallery -------------------------------------*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery h1 {
        grid-column: 1 / span 3;
    }

    figure:hover {
        box-shadow: 5px 5px 8px #89806D;
    }
    /*-----------------------------------------------------------------------*/
}