body {
    font-size: 18px;
    line-height: 1.5;
    background-color: #d7c9aa;

}

body,
footer {
    margin: 1.5rem auto;
    max-width: 800px;
    text-align: center;

}

header, footer {
    background-color: #19535f;
    color: white;
    font-size: 2em;
    text-align: center;
}

footer{
    font-size:1em;
    margin:0;
}

.logoWhite{
    max-width:250px;
}

nav {
    background-color: #0b7a75;
    margin: 0 auto;
    max-width: 800px;
}

.list-container{
    list-style-type: none;
    padding:0;
    overflow: hidden;

}

.list-container li{
    color: #ffff;
    padding: .2em;
}

.introName {
    background-color: #56351e;
    color: white;
}

.part {

    background-color: #f0f3f5;
    padding: .5em;
}
