body {
    font-size: 18px;
    line-height: 1.5rem;
    background-color: #d7c9aa;
    font-family: 'DM Serif Text', serif;
}

.displayMsg {
    background-color: #f0f3f5;
    padding: 5px;
    text-align: center;
}

h1,
h2 {
    font-family: 'Architects Daughter', cursive;
}

header {
    background-color: #19535f;
    font-size: 1em;
    color: #f0f3f5;
    padding-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;

}

header img {
    height: 100px;
    width: auto;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #f0f3f5;
}

nav {
    background-color: #19535f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #f0f3f5;
}

nav ul li.active a {
    background-color: #0b7a75;
}

nav ul li a:hover {
    background-color: rgba(11, 122, 117, 0.6);
}

nav ul.hide {
    display: none
}

main {
    text-align: center;
}

.hero-img{
    height: auto;
    width: 350px;
    padding: 5px;
}

main h1,
h2 {
    color: #56351e;
}

.container {
    margin: 0 5% 0 5%;
    background-color: #f0f3f5;
}

footer {
    background-color: #19535f;
    font-size: 1.75em;
    color: #f0f3f5;
    margin: 2%;
    padding: 5px;
    font-size: 1em;
    display: block;
    text-align: center;
}