@media only screen and (min-width: 72em) {
    main{
        max-width: 1800px;
    }
    header {
        padding: 20px;
    }

    .title {
        font-size: 2.5rem;
    }

    header img {
        height: 200px;
        width: auto;
    }

    .heroImg {
        width: 95%;
    }

    .weatherContain {
      font-size: 95%;
    }
}