@media only screen and (min-width: 32.5em) {
    header img {
        height: 150px;
        width: auto;
    }

    .title {
        font-size: 1.5em;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul {
        margin-left: 0;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;

        padding: .6rem 1rem;
    }
    form fieldset{
        max-width: 50rem;
    }
    form label.top input, form label.top select, form input.storm{
        max-width:20rem;
    }
    form input.submitBtn{
        max-width: 20rem;
    }
    form label.sbs{
        padding: .4rem 0; 
    }

}